/* reset */
@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
li,
dl,
dd,
dt {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

dt {
    font-weight: bold;
}

html {
    font-family: 'omyu_pretty';
    width: 100%;
}

header, section, footer {
    overflow: hidden;
}

/* 보이지 않아도 되는 글자들 <span 또는 h2>숨기기 */
html .h_hide {
    display: none;
}

@media all and (min-width:1024px){
    html {
        font-size: 18px;
    }
}

@media all and (min-width:768px){
    html {
        font-size: 16px;
    }
}

@media all and (min-width:480px){
    html {
        font-size: 14px;
    }
}

@media all and (max-width:479px){
    html {
        font-size: 12px;
    }
}

/* 오뮤 다예쁨체 */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}